//resets
input, textarea, button, .btn, .dropdown, .dropdown .btn {
	box-shadow: none;
}

a, a:focus, a:hover, a:active, a:visited, .btn, .btn:focus, .btn:hover, .btn:active, .btn:visited, .dropdown, .dropdown:focus, .dropdown:hover, .dropdown:active, .dropdown:visited {
	outline: none;
	text-decoration: none;
}
a, a:hover {
	color: #212529;
}

ul, ol {
	list-style: none;
}

//subscribed
html, body, p {
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 35px;
}
h4 {
	font-size: 30px;
}
h5 {
	font-size: 25px;
}
h6 {
	font-size: 20px;
}

html, body, main, footer, header, input, .textarea, .content {
	width: 100%;
}
html, body, main, .content {
	height: 100%;
}

input[type=checkbox], input[type=radio] {
	width: 15px;
	height: 15px;
}

html, body, main, footer, header, .content {
	margin: 0; 
	padding: 0;
}

main {
	overflow: hidden;
}

label {
	font-weight: normal;
}

b, strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

h1, h2, h3, h4, h5, h6, a, p, ul, ol, button, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, .content { 
	display: block;
}
  